* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #22a4a4;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

/*Cabeçalho*/ 

header {
  background-color:  #2f8aa2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
}

.txt-1 h1{
  margin-left: -5px;
}

.pesquisar {
  margin-right: -50%;
  margin-top: -33px;
  border-radius: -50px;
}

.logo img {
  padding: -20px;
  width: 190px;
  height: 100px;
  margin-left: -300%;
  margin-top: -130px;
}

header a {
  color: white;
  padding: 3px;
}


.links_box {
  display: flex;
  gap: 2em;
  margin: 0.5em;
  font-weight: 400;
  font-size: 1.2rem;
  list-style: none;
}

/*Menu */

.promocao {
  background-color: #473d8b00;
  padding: 2em;
  display: inline-flexbox;
  margin: 5em 5em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0 4em;
}

.img-cell {
  width: 30%;  
}

/*Menu aparelhos*/

.menu-aparelhos {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
}

.aparelhos-ul a{
  text-decoration: none;
  color: #191717;
}

.aparelhos-ul li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.7em;
  margin: 0.5em;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
}

/*Visualizar aparelhos*/

.visualizar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
}

.visualizar h1 {
  padding: 1em 0 0.3em 0;
}

.visualizar h2 {
  padding: 0.5em 0;
}

.visualizar p {
  font-size: 1.3rem;
  font-family: var(--font-primaria);
  font-weight: 600;
  width: 60%;
}

.visualizar img {
  width: 50%;
  padding: 1em;
}

/*Error*/

.error {
  background-color: #473d8b00;
  display: block;
  flex-direction: column;
  align-content: center;
  text-align: center;
  border-radius: 1em;
  padding: 1.5em;
  margin: 1em 20em;

}

.error p {
  margin: 1em 0;
  font-weight: 600;
}

.error a {
  color: #191717;
  background-color: #22a4a4;
  font-weight: 600;
  border-radius: 1em;
  padding: 0.5em;
}

.error a:hover {
  padding: 0.6em;
  font-size: 1.01em;

}

/*Rodape*/

footer a {
  color: white;
}

.footer {
  background-color: #2f8aa2;
  color: white;
  font-size: 1.1rem;
  display: block;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 1em;
}

